<div class="groups">
    <h1>Fase de Grupos</h1>
    <div class="countries-row">
      <div class="group">
        <h2 class="group-text">Grupo 1</h2>
        <div class="countries-column">
          
            <div class="country">
                <div class="flag"></div>
                <span class="country-name">Brazil</span>
            </div>

            <div class="country">
                <div class="flag"></div>
                <span class="country-name">Brazil</span>
            </div>

            <div class="country">
                <div class="flag"></div>
                <span class="country-name">Brazil</span>
            </div>

            <div class="country">
                <div class="flag"></div>
                <span class="country-name">Brazil</span>
            </div>

        </div>
      </div>
    </div>
  </div>