.knockouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    width: 80px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.hide {
    visibility: hidden;
}

.right {
    right: 40px;
    border-right: 3px solid;
    border-top: 3px solid;
}

.left {
    left: 40px;
    border-left: 3px solid;
    border-top: 3px solid;
}

.top {
    bottom: 417px;
    border-bottom: 3px solid;
    border-top: none;
}

.bottom {
    bottom: -14px;

}

.bar {
    box-sizing: content-box;
    border-radius: 0px;
    border-color: #AAAA;
    position: relative;
    z-index: -1;
    background: none;
}